<!--
  ~ Copyright 2019 Roragok. All Rights Reserved.
  -->

<manifest package="com.roragok.namafia"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name=".NamafiaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        
        <activity
            android:name=".activities.GamesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="efabea93d83cdb4c9c6b1d3452b6ad644d0ce6c7" />

    </application>

</manifest>
